body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    text-align: center;
}

.center-box img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.button {
   width: 100%;       
        padding: 10px;
    font-size: 16px;
    background-color: rgb(12, 147, 45);
    border: 1px solid #000;
}